.section.hero {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/index/desktop/hero-desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__container {
  margin: 0 auto;
  width: 360px;
  height: 84px;

  @media screen and (min-width: 1200px) {
    width: 696px;
    height: 120px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.06em;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  min-width: 200px;
  color: var(--white-color);
  background-color: var(--btn-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
}
