:root {
    --main-color: rgb(33, 33, 33);
    --secondary-color: rgb(117, 117, 117);
    --white-color: rgb(255, 255, 255);
    --btn-color: rgb(33, 150, 243);
    --btn-secondary-color: #F5F4FA;
    --btn-secondary-hover: rgb(33, 150, 243);
    --bg-gray-color: rgba(245, 244, 250, 1);
    --bg-black-color: rgb(47, 48, 58);
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --time-animation: 250ms;
}